<!-- base.html -->
{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>

    {% block navbar %}
    <!-- Cabezera -->
    <nav id="navbar">
        <div id="nav">
            <ul>            
                <li class="nav-item"><a href="{% url 'home' %}">Inicio</a></li>

                {% if not user.is_authenticated %}        
                <li class="nav-item"><a href="{% url 'registrar_usuario' %}">Registrarse</a></li> 
                <li class="nav-item"><a href="{% url 'login' %}">Iniciar sesión</a></li>
                {% endif %}
                
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <!-- asi se manda a las otras ventanas WARD -->
                <li class="nav-item"><a style="color: red;" href="{% url 'listar_porticos' %}">Listar pórticos</a></li>
                {% endif %}
               
                <li class="nav-item"><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                <span class="ml-md-5" style="color: blue;"><strong>Usuario: {{ user.get_username }}</strong></span>
                {% endif %}                
            </ul>
        </div>                                 
    </nav>
    {% endblock %}
        {% block content %} {% endblock content %}

        {% block javascript %} {% endblock javascript %}
    </body>
</html>
