!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listar bicicletas</title>
  </head>

  <body>
    <h2>Lista de bicicletas</h2>

    {% for b in bicicletas %}
        <div>
            <p> nro bicicleta: {{ b.id_bicicleta }} </p>
            <p> nro pórtico: {{ b.id_portico }} </p>
            <p> modelo: {{ b.modelo }} </p>
            <p> en pórtico: {{ b.candado }} </p>
        </div>
        <br>
    {% endfor %}

  </body>
</html>