!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listar porticos</title>
  </head>

  <body>
    <h2>Lista de porticos</h2>

    {% for p in porticos %}
        <div>
            <p> nro portico: {{ p.id_portico }} </p>
            <p> ubicacion: {{ p.ubicacion }} </p>
        </div>
        <br>
    {% endfor %}

  </body>
</html>
